name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Engine release version'
        required: true
        default: "0.0.0"
  pull_request:
    branches: ["main"]
jobs:
  build_linux:
    uses: ./.github/workflows/appimage.yml
  build_macos:
    uses: ./.github/workflows/macos.yml
  build_windows:
    uses: ./.github/workflows/windows.yml
  publish_release:
    runs-on: ubuntu-latest
    needs: [build_linux, build_macos, build_windows]
    steps:
    - name: Download Build Artifact
      uses: actions/download-artifact@v4
      with:
        path: ./artifacts
    - name: Show Artifacts
      run: |
        ls ./artifacts

