name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Engine release version'
        required: true
        default: "0.0.0"
  pull_request:
    branches: ["main"]
jobs:
  build_linux:
    uses: ./.github/workflows/appimage.yml
  build_macos:
    uses: ./.github/workflows/macos.yml
  build_windows:
    uses: ./.github/workflows/windows.yml
