name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Engine release version'
        required: true
        default: "0.0.0"
  pull_request:
    branches: ["main"]
jobs:
  build_linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Build AppImage
      uses: ./.github/workflows/appimage.yml
  build_macos:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Build DMG
      uses: ./.github/workflows/macos.yml
  build_windows:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Build Exe
      uses: ./.github/workflows/windows.yml
